<main class="main" role="main">
    <article class="container" id="helcimFormContainer">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <script src="{{helcimJsPath}}"></script>

                <form name="helcimForm" id="helcimForm" action="/{{formAction}}?orderId={{orderId}}&code={{paymentMethodCode}}" method="POST">
                    <h1>Complete your payment</h1>

                    <!--RESULTS-->
                    <div id="helcimResults"></div>

                    <!--SETTINGS-->
                    <input type="hidden" id="token" value="{{token}}" />
                    <input type="hidden" id="language" value="en" />
                    <input type="hidden" id="test" value="{{isTest}}" />

                    <!--CARD-INFORMATION-->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="cardNumber" class="control-label">Card Number</label>
                                <input type="text" id="cardNumber" name="cardNumber" value="" class="form-control" />
                                <!--input-group-field-->
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group" ng-init="card={}">
                                <input type="hidden" id="cardExpiryMonth" ng-value="card.month" />
                                <label for="cardExpiryMonthUI" class="control-label">Expiry Month</label>
                                <ui-select id="cardExpiryMonthUI" class="form-control" ng-model="card.month">
                                    <ui-select-match>{% raw %}{{ $select.selected }}{% endraw %}</ui-select-match>
                                    <ui-select-choices repeat="x in ['01','02','03','04','05','06','07','08','09','10','11','12'] | filter: $select.search">
                                        <span ng-bind-html="x | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="cardExpiryYear" class="control-label">Expiry Year</label>
                                <input type="text" id="cardExpiryYear" class="form-control" value="" pattern="\d*" maxlength="2" />
                            </div>
                        </div>

                        <div class="col-md-3 col-md-offset-1">
                            <div class="form-group">
                                <label for="cardCVV" class="control-label">CVV</label>
                                <input type="text" id="cardCVV" class="form-control" value="" pattern="\d*" maxlength="4" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <!--OPTIONAL-AVS-->
                            <div class="form-group">
                                <label for="cardHolderName" class="control-label">Card Holder Name</label>
                                <input type="text" id="cardHolderName" class="form-control" value="" />
                            </div>
                        </div>
                    </div>

                    <input type="hidden" id="amount" value="{{amount}}" />
                    <input type="hidden" id="amountHash" value="{{amountHash}}" />
                    <input type="hidden" id="orderNumber" value="{{orderNumber}}" />

                    <!--BUTTON-->
                    <div>
                        <input class="btn btn-primary" type="button" id="buttonProcess" value="Process" onclick="javascript:helcimProcess();" />
                    </div>
                </form>
            </div>
        </div>
    </article>
</main>
