<main class="main" role="main">
    <article class="container" id="helcimFormContainer">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <script src="{{helcimJsPath}}"></script>

                <form ng-init="card = { expiration: { } }" id="helcimForm" name="helcimForm" novalidate action="/{{formAction}}?orderId={{orderId}}&code={{paymentMethodCode}}" method="POST">
                    <h1>Complete your payment</h1>

                    <!--RESULTS-->
                    <div id="helcimResults"></div>

                    <!--SETTINGS-->
                    <input type="hidden" id="token" value="{{token}}" />
                    <input type="hidden" id="language" value="en" />
                    <input type="hidden" id="test" value="{{isTest}}" />

                    <!--CARD-INFORMATION-->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group" ng-class="(helcimForm.cardNumber.$dirty || helcimForm.$submitted) ? helcimForm.cardNumber.$invalid ? 'has-error' : 'has-success' : ''">
                                <label for="cardNumber" class="control-label">Card number</label>
                                <input type="text" id="cardNumber" name="cardNumber" class="form-control" ng-model="card.number" cc-number cc-eager-type cc-format ng-required="true" />
                                <div class="help-block" ng-show="helcimForm.cardNumber.$dirty || helcimForm.$submitted">
                                    <p ng-show="helcimForm.cardNumber.$invalid && helcimForm.cardNumber.$ccEagerType">
                                        Invalid {% raw %}{{ helcimForm.cardNumber.$ccEagerType }}{% endraw %} card number
                                    </p>
                                    <p ng-show="helcimForm.cardNumber.$error.required">
                                        Card number is required
                                    </p>
                                </div>
                                <!--input-group-field-->
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-7" ng-init="months = ['01','02','03','04','05','06','07','08','09','10','11','12']">
                            <div cc-exp class="form-group" ng-class="(helcimForm.cardExpiryMonthUI.$dirty || helcimForm.cardExpiryYearUI.$dirty || helcimForm.$submitted) ? (helcimForm.cardExpiryMonthUI.$invalid || helcimForm.cardExpiryYearUI.$invalid || helcimForm.$error.ccExp) ? 'has-error' : 'has-success' : ''">
                                <label class="control-label">Expiry date (month / year)</label>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <input type="hidden" id="cardExpiryMonth" name="cardExpiryMonth" value="{% raw %}{{ ('00' + card.expiration.month).slice(-2) }}{% endraw %}" />
                                        <ui-select id="cardExpiryMonthUI" name="cardExpiryMonthUI" ng-model="card.expiration.month" cc-exp-month theme="bootstrap" ng-required="true">
                                            <ui-select-match>{% raw %}{{ ('00' + card.expiration.month).slice(-2) }}{% endraw %}</ui-select-match>
                                            <ui-select-choices repeat="x in months | afterWhere: (card.expiration.year == {{ today | date: "yyyy" }} ? '{{ today | date: "MM" }}' : (months | first)) | filter: $select.search">
                                                <span ng-bind-html="x | highlight: $select.search"></span>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                    <div class="col-xs-6">
                                        <input type="hidden" id="cardExpiryYear" name="cardExpiryYear" value="{% raw %}{{ ('00' + (card.expiration.year - 2000)).slice(-2) }}{% endraw %}" />
                                        <ui-select id="cardExpiryYearUI" name="cardExpiryYearUI" ng-model="card.expiration.year" cc-exp-year theme="bootstrap" ng-required="true">
                                            <ui-select-match>{% raw %}{{ $select.selected }}{% endraw %}</ui-select-match>
                                            <ui-select-choices repeat="x in [] | range: 50:{{ today | date: "%y" }} | filter: $select.search">
                                                <span ng-bind-html="x | highlight: $select.search"></span>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="help-block" ng-show="helcimForm.cardExpiryMonthUI.$dirty && helcimForm.cardExpiryYearUI.$dirty || helcimForm.$submitted">
                                            <p ng-show="helcimForm.$error.ccExp">
                                                Invalid card expiry date
                                            </p>
                                            <p ng-show="helcimForm.cardExpiryMonthUI.$invalid">
                                                Invalid card expiry month
                                            </p>
                                            <p ng-show="helcimForm.cardExpiryYearUI.$invalid">
                                                Invalid card expiry year
                                            </p>
                                            <p ng-show="helcimForm.cardExpiryMonthUI.$error.required">
                                                Card expiry month is required
                                            </p>
                                            <p ng-show="helcimForm.cardExpiryYearUI.$error.required">
                                                Card expiry month is required
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-3 col-xs-offset-2">
                            <div class="form-group" ng-class="(helcimForm.cardCVV.$dirty || helcimForm.$submitted) && helcimForm.cardNumber.$valid ? helcimForm.cardCVV.$invalid ? 'has-error' : 'has-success' : ''">
                                <label for="cardCVV" class="control-label">CVV (CVC)</label>
                                <input type="text" id="cardCVV" name="cardCVV" class="form-control" ng-model="card.cvv" cc-cvc cc-type="helcimForm.cardNumber.$ccType" ng-required="true" />
                                <div class="help-block" ng-show="helcimForm.cardCVV.$dirty || helcimForm.$submitted">
                                    <p ng-show="helcimForm.cardCVV.$invalid && !helcimForm.cardCVV.$error.required">
                                        Invalid CVV (CVC) {% raw %}{{ helcimForm.cardNumber.$ccEagerType ? 'for ' + helcimForm.cardNumber.$ccEagerType + ' card type' : '' }}{% endraw %}
                                    </p>
                                    <p ng-show="helcimForm.cardCVV.$error.required">
                                        Card number is required
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <!--OPTIONAL-AVS-->
                            <div class="form-group">
                                <label for="cardHolderName" class="control-label">Card holder name</label>
                                <input type="text" id="cardHolderName" class="form-control" ng-model="card.holder" />
                            </div>
                        </div>
                    </div>

                    <input type="hidden" id="amount" value="{{amount}}" />
                    <input type="hidden" id="amountHash" value="{{amountHash}}" />
                    <input type="hidden" id="orderNumber" value="{{orderNumber}}" />

                    <!--BUTTON-->
                    <div>
                        <input class="btn btn-primary" type="button" id="buttonProcess" value="Process" onclick="javascript:helcimProcess();" />
                    </div>
                </form>
            </div>
        </div>
    </article>
</main>
